# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
    <ul>
    <li>List of popular languages for Data Science</li>
    <li>List of Commonly used libraries by Data Scientists</li>
    <li>Table of Commonly used Data Science Tools</li>
    <li>Examples of Evaluation arithematic expression in Python</li>
    </ul>

Some of the popular languages that Data Scientists use are:
    <ol>
    <li>Python</li>
    <li>R programming Language</li>
    <li>SQL</li>
    </ol>

Some of the commonly used libraries used by Data Scientists include:
    <ol>
    <li>NumPy</li>
    <li>SciKit Learn</li>
    <li>ggplot</li>
    </ol>

| Data Science Tools |
| --- |
| RStudio |
| Apache Spark |
| Anaconda-Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
##This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Amogh Chavan